body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  font-family: 'Ubuntu Mono', monospace !important;
}

.header h1 {
  font-size: 10rem;
  font-style: italic;
}

.form-signin {
  max-width: 330px;
  padding-top: 1rem;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 6rem;
  }
}
