{% extends "layout.html" %}
{% block body %}
<div class="container">
  <h1>{{ username }}'s Dashboard</h1>
  <form class="snapshot" action="snapshot" method="POST" id="snapshot">
    <button class="btn btn-lg btn-default" type="submit">Request Pi Video</button>
  </form>
  {% for video in videos %}
  <div class="col-xs-4">
    <img src={{video.s3_gif_url}} width="320" height="280"></img>
    <div><a href={{video.s3_video_url}}>Download the Video</a></div>
    <div>Date Created: {{video.created_at}}</div>
  </div>
  {% endfor %}
</div>
{% endblock %}
