{% extends "layout.html" %}
{% block body %}
<div class="container">
  <h1>Settings</h1>
    <h2>User Settings</h2>
    Email: {{user_data.email}}
    <br>
    Phone Number: {{ user_data.phone }}
    <br>
    Unique PI ID: {{ user_data.pi_id }}
    <br>
    <h2>Pi Settings</h2>
    Room name: {{pi_data.room_name}}
    <br>
    Capture Framerate: {{ pi_data.capture_framerate }}
    <br>
    Output Framerate: {{ pi_data.output_framerate }}
    <br>
    Threshold Frame Count: {{ pi_data.threshold_frame_count }}
    <br>
    <div id="en" value='{{pi_data.is_enabled}}'>Pi is Enabled: {{pi_data.is_enabled}}</div>
    <br>
    <form class="form-change" action="enable" method="POST" id="Pi">
        <button class="btn btn-lg btn-default" id="Toggle Pi" value="Change Settings"  type="submit" >Toggle Pi</button>
    </form>
    <br><br>
    <button class="btn btn-lg btn-default" id="Change Settings" value="Change Settings" onclick="showForm()" >Change Settings</button>

    <form class="form-change" action="settings" method="POST" id="change">
        <h2 class="form-signin-heading">Change Settings</h2>
        <h3 class="form-signin-heading">User Settings</h3>
        Email:
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" value={{user_data.email}} required="" autofocus="">
        Phone Number:
        <label for="inputphone" class="sr-only">Phone Number</label>
        <input name="phone" type="phone" id="inputphone" class="form-control" placeholder="Phone Number" value={{user_data.phone}} required="" autofocus="">
        Current Password:
        <label for="inputPassword" class="sr-only">Current Password</label>
        <input name="curpassword" type="password" id="curpassword" class="form-control" placeholder="Current Password" >
        New Password:
        <label for="inputPassword" class="sr-only">New Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" >
        Generate New Pi ID
        <label class="checkbox-inline" ><input name='piid' type="checkbox" id="piid" class="form-control" value="true"></label>
        <input type="hidden" name="piid" value="false" />

        <h3 class="form-signin-heading">Pi Settings</h3>
        Room Name:
        <label for="room_name" class="sr-only">Room Name</label>
        <input name="room_name" type="room_name" id="room_name" class="form-control" value={{pi_data.room_name}} >
        Capture Framerate:
        <label for="capture_framerate" class="sr-only">Capture Framerate</label>
        <input name="capture_framerate" type="capture_framerate" id="capture_framerate" class="form-control" value={{pi_data.capture_framerate}} >
        Output Framerate:
        <label for="output_framerate" class="sr-only">Output Framerate</label>
        <input name="output_framerate" type="output_framerate" id="output_framerate" class="form-control" value={{pi_data.output_framerate}} >
        Threshold Frame Count:
        <label for="threshold_frame_count" class="sr-only">Threshold Frame Count</label>
        <input name="threshold_frame_count" type="threshold_frame_count" id="threshold_frame_count" class="form-control" value={{pi_data.threshold_frame_count}} >
        <br>
        <button class="btn btn-lg btn-default" id="default" value="Default Pi Settings" onclick="fill_default()" >Default Pi Settings</button>
        <br>
        <button class="btn btn-lg btn-default btn-block" type="submit">Save</button>
        <br>
    </form>
    <br><br><br>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='settings.js') }}"></script>

{% endblock %}
